/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Common */
body {
	background-color: #f6f8f9;
}
.btn {
	background-color: white;
	border: 1px solid #c5cbd0;
	padding: 5px;
	border-radius: 5px;
	color: #c5cbd0;
}

/* Header */
header {
	background-color: white;
	padding: 10px 20px;
}
h1 {
	display: inline;
	vertical-align: middle;
}
.logo-img {
	vertical-align: middle;
}

/* Main */
main {
	width: 60%;
	background-color: #ffffff;
	margin: 40px auto;
	border-radius: 10px;
}
.actions {
	padding: 15px 50px;
	border-bottom: 2px solid #f6f8f9;
}
#btn-add-task {
	background-color: #47adf1;
	color: white;
	border: 1px solid #47adf1;
}

.tasks {
	padding: 15px 50px;
}
ul {
	list-style: none;
	margin-top: 15px;
}
li {
	margin-top: 8px;
}

.circle {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
}
.circle-green {
	border: 1px solid green;
	color: green;
}
.circle-red {
	border: 1px solid red;
	color: red;
}

.tag {
	display: inline-block;
	padding: 4px;
	border-radius: 5px;
	color: white;
	font-size: 12px;
}

.tag-1 {
	background-color: #45abea;
}
.tag-2 {
	background-color: #9c72e4;
}